@import './bootstrap/scss/mixins/_buttons.scss';
@import './variables.scss';

$toolbarWidth: 55px;
$contactListWidth: 500px;

.toolbar {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: $toolbarWidth;
  height: 100%;
}

.contact-list {
  position: fixed;
  top: 0;
  bottom: 0;
  left: $toolbarWidth;
  width: $contactListWidth;
}

.contact-detail-view {
  position: fixed;
  top: 0;
  bottom: 0;
  left: ($toolbarWidth + $contactListWidth);
  right: 0;
}

.btn-xs {
  @include button-size(($btn-padding-y-sm / 2), ($btn-padding-x-sm / 2), ($font-size-sm * 0.75), $btn-line-height-sm, $btn-border-radius-sm);
}