@import '../variables.scss';

.contact-list {
  border-right: solid 1px $gray-500;
  background: $gray-100;

  table {
    width: 100%;
  }

  .contacts-list-search {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 0.5em;
    background: $gray-200;
  }

  .contacts-list-wrapper {
    position: absolute;
    top: 54px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: scroll;
  }

  .contacts-list-name,
  .contacts-list-next-interaction {
    vertical-align: middle;
  }

  .contant-list-item {
    cursor: pointer;
  }

  .client-list-next-interaction-column {
    width: 140px;
  }

  .client-list-tracking-column {
    width: 50px;
  }

  .contact-list-item-selected td {
    background: $primary;
    color: white;
  }
}