.contact-detail-view {
  padding: 1em;
  overflow: scroll;
  background: white;

  .contact-detail-view-content {
    max-width: 800px;
    margin: auto;
  }

  .contact-detail-view-list {
    margin: 0;
    padding: 0;
    li {
      list-style: none;
      margin: 0;
      padding: 0;
    }
  }

  .profile-photo {
    margin-right: 1em;
    width: 100px;
    height: auto;
  }

  .click-to-edit {
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
}
