.contact-detail-view {
  padding: 1em;
  overflow: scroll;

  .contact-detail-view-content {
    max-width: 800px;
    margin: auto;
  }

  .contact-detail-view-list {
    margin: 0;
    padding: 0;
    li {
      list-style: none;
      margin: 0;
      padding: 0;
    }
  }
}