@import '../variables.scss';

@keyframes rotate {
  from {
    transform: rotate(0)
  }

  to {
    transform: rotate(360deg)
  }
}

.toolbar {
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: row;
  background: $gray-800;
  .btn-group, .btn-group-vertical {
    margin: auto;
  }

  .sync-running {
    width: 16px;
    animation-duration: 4s;
    animation-name: rotate;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
}

.sync-alert {
  position: fixed;
  bottom: 1em;
  left: 0;
  right: 0;
  max-width: 800px;
  margin: auto;
  z-index: 1000;
}
